.node-handle-container {
   position: absolute;
   top: -10px; /* Posiciona el handle encima del nodo */
   left: calc(50% - 10px ); /* Centra el handle horizontalmente */
 }
 
 .node-handle {
   border-radius: 50%; /* Hace que el handle sea una circunferencia */
   border: 2px solid #fff; /* Agrega un borde blanco */
   box-sizing: border-box;
   background-color: #1a192b; /* Establece el color de fondo */
   transition: all 0.2s ease-in-out; /* Agrega una transición suave */
 }
 
 .node-handle:hover {
   transform: scale(1.2); /* Hace que el handle se haga más grande al pasar el mouse por encima */
 }
 