

.customNode{
   background-color: #b36c6c;
   border: 1px solid #b36c6c;
   border-radius: 50%;
   width:2rem;
   height:2rem;
   padding: 0.5rem; 
   font-size: 10px;
   margin: 3px 3px 2px;
}

.node-container{
   padding: 0.25rem ;
   height: 3.5rem;
   width: 3.5rem;
   background-color: #b36c6c;
   border-radius: 50%;
}